<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Forecast for {{foreControllerVm.city}}</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        Days: <a href="#/forecast/2" ng-class="{ 'bg-primary': foreControllerVm.days ==='2' }">2</a> |
                        <a href="#/forecast/5" ng-class="{ 'bg-primary': foreControllerVm.days ==='5' }">5</a>
                        | <a href="#/forecast/7" ng-class="{ 'bg-primary': foreControllerVm.days ==='7' }">7</a>
                    </div>
                </div>
                <div ng-repeat="w in foreControllerVm.weatherResult.list">
                    <div class="row">
                        <div class="col-md-12">
                            <weather-report weather-day="w"
                                            convert-to-standard="foreControllerVm.convertToFahrenheit(daytimeTemp)"
                                            convert-to-date="foreControllerVm.convertToDate(date)"
                                            date-format="MMM d, y"></weather-report>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>