<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Forecast by City</h4>
            </div>
            <div class="panel-body">
                <form ng-submit="mainControllerVm.submit()">
                    <div class="form-group">
                        <input type="text" ng-model="mainControllerVm.city" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Get Forecast"/>
                </form>
            </div>
        </div>
    </div>
</div>